.Rproj.user
.Rhistory
.RData
.Ruserdata
cache/
build/
target/
*.err
*.log
*_files/
*.bak
json/
.gitlab-ci-local/
\#*
models/
dnf.index/
p5
data/adminToken
data/liteDB.sqlite
data/db.sqlite
data/super_client_info
krill.secretB64
lib/saxon-license.lic

