[Unit]
Description=DeFaKo@DNB Docker Compose Service
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/kupietz/DeFaKo
Environment=INDEX=./dnf.index
ExecStart=/usr/bin/docker compose -p defako --profile=lite -f korap4dnb-compose.yml up -d
ExecStop=/usr/bin/docker compose -p defako -f korap4dnb-compose.yml down
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
